.cartContainer{

    padding: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #31b572;
    width: 400px;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.toggleCartButton{
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(90deg, white -100px, #357c59 );
    background-clip: text;
    border: 0;
    padding: 15px;
    color: transparent;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 800;
    transition: all 0.5s ease-in-out;
    
}

.cartContainer:hover>.toggleCartButton{
    color: white;
}

.cartContainerClosed{
    width: 90px;
    background: #31b572;
    color: white;
    position: relative;
}

.cartContainerClosed>.toggleCartButton{
    color: white;
    position: absolute;
    max-width: 90px;
    word-wrap: wrap;
}

.cart{
    padding: 0;
}

.cartElementContainer{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.elementName{
    font-weight: 800;
    flex: 5;
    margin-right: auto;
}

.elementPrice{
    color: rgba(255, 255, 255, 0.5);
}

.elementPrice, .elementAmount, .elementMulti{
    flex: 2;
    text-align: center;
}