

.productContainer{
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productContainer>li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    transition: all 0.8s ease-in-out;
    padding-bottom: 15px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    min-width: 100px;
    margin-bottom: 10px;
    position: relative;
    font-weight: 700;
    text-transform: capitalize;
    background: white;
    color:  #31b572;
}

.productContainer>li>img{
	height: 220px;
	width: 220px;
	border-radius: 15px;
}

.productContainer>li:hover{
    /*transform: scale(1.1) translateY(-5%) translateX(-7%);*/
    box-shadow: 0.5px 1px 5px rgba(0,0,0,0.5);
    background: #31b572;
    color: white;
}

.productContainer>li>.fillIcon{
    color: yellow;
    filter: drop-shadow(0px 0px 6px red);
}

.productButton{
    height: 2rem;
    aspect-ratio: 3/1;
    background: linear-gradient(90deg, white 50%, #31b572 90px);
    background-size: 200px;
    background-position: right;
    transition: all 0.8s ease-in-out;
    border: none;
    border-radius: 7.5px;
    /*transition-delay: -0.3s;*/
    font-weight: 600;
    color: white;
}

.productButton:hover{
    background-position: left 800px;
    color: #31b572;
}

.productCategorie{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.price{
    position: absolute;
    right: -8px;
    top: -8px;
    height: 40px;
    box-shadow: -1px 1px 5px rgba(0,0,0,0.5);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 3px;
    background: #31b572;
    font-weight: 600;
    font-size: 0.7rem;
    transition: all 0.8s ease-in-out;
    color: white;
}
.productContainer>li:hover>.price{
    box-shadow: unset;
}

.catSelect{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    padding: .5em 2em .5em .9em;
    cursor: pointer;
    color:  white;
    font-family: inherit;
    font-size: 1em;
    border: 1px solid #31b572;
    border-radius: .2em;
    background-color: #31b572;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iIzAwMDAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHg9IjBweCIgeT0iMHB4Ij48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMTIgMThsLTExLjAxOS0xMWgyMi4wMzh6Ii8+PC9zdmc+);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: calc(100% - .4em) center;
}

.catSelect:focus{
    outline-offset: 0;
    outline: unset;
}